%flex {
  display: flex;
  flex-wrap: wrap;
}

.content {
    padding-top: 45px;
}

.wrapper {
    width: $large;
    margin: 0 auto;
    overflow: hidden;
    @media screen and (max-width: $large + 40px) {
        width: auto;
        margin: 0 20px;
      }
    @media screen and (max-width: $extra-small) {
        margin: 0 0;
      }
}

.container {
    @extend %flex;
}

.container-column {
    @extend %flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
    align-content: center;
}

.equal-width > * {
    flex-basis: 0;
    flex-grow: 1;
}


.container-2 {
    @extend %flex;
    > * {
        width: 50%;
    }
    > *:nth-child(odd):last-child:not(:only-child) {
        width: 100%;
    }
}

.gap-40 {
    margin-right: -40px;
    > * {
        padding-right: 40px;
        margin-bottom: 40px;
    }
}

.full-width {
    width: 100%;
}

.no-wrap {
    flex-wrap: nowrap;
}