.background-gradient {
    background: linear-gradient(135deg, $primary 0%, $secondary 100%);
}

.background-primary {
    background: $primary;
}

.background-secondary {
    background: $secondary;
}

.background-white {
    background: #fff;
}

.background-white-hover {
    &:hover {
        background: #fff;
        border-left: 1px solid $primary;
    }
}

.divider {
    background: $light-grey;
    height: 1px;
    width: 100%;
}

.hover-negative {
    background: #fff;
    color: $primary;
    border: 1px solid $primary;
    transition: .5s ease-in-out all;

    &:hover {
        background: $primary;
        color: #fff;
    }
}

.border-primary {
    border: 1px solid $primary;
}

.border-secondary {
    border: 1px solid $secondary;
}

.border-radius {
    border-radius: 5px;
}

.nav-link {
    text-decoration: none;
    letter-spacing: 2px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        color: $primary;
    }
}

.pointer {
    cursor: pointer;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
    width: 75%;
    max-width: 600px;
    max-height: 75vh;
    overflow-y: auto;
}

.delete-icon {
    color: #ff0000;
    float: right;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform .5s ease-in-out;

    &:hover {
        transform: rotate(360deg)
    }
}