$primary: #CC4BC2;
$secondary: #FFCFD2;
// $primary: blue;
// $secondary: lightblue;
$dark-grey: #A9A9A9;
$grey: #eee;
$light-grey: #d3d3d3;
$red: #ff6961;


$large: 1200px;
$tablet: 1023px;
$mobile: 600px;
$extra-small: 350px;