
input:focus {
    outline: none;
}

.input-text {
    border: 1px solid $secondary;
    padding: 10px;
    transition: .5s ease-in-out border;
    background: #fff;

    &:focus {
        outline: none;
        border: 1px solid $primary;
    }
}

.input-submit {
    background: $primary;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    transition: .5s ease-in-out all;
    text-transform: uppercase;
    border: 1px solid $primary;
    text-align: center;
    &:hover, &:focus {
        background: #fff;
        color: $primary;
        border: 1px solid $primary;
    }
}

.input-small {
    padding: 10px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $light-grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $light-grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $light-grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $light-grey;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    $light-grey;
}

::placeholder { /* Most modern browsers support this now. */
   color:    $light-grey;
}


textarea {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    background: #fff;
}